body {
    color: #222;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.5em;
    padding: 1em;
    margin: auto;
    max-width: 42em;
    background: #fff;
}
a {
    color: red;
    text-decoration: none;
}

/* Headers*/
h1 {
    font-size: 2em;
    text-align: center;
}
h1::before {
    margin-right:10px;
    color: white;
    background-color: black;
    padding-left: 10px; padding-right:10px;
}
h2 {
    decoration: none;
    color: black;
    text-align: center;
    margin-top: 3em;
    border-bottom: 2px solid black;
    font-size: 1.3em;
}
h3 {
    font-size: 1.2em;
}

/*Code*/
code {
    font-size: 95%;
    font-weight: 300;
    font-family: 'Source Code Pro';
}
pre.code,
pre.output {
    font-size:      85%;
    font-family:    'Source Code Pro', monospace;
    line-height:    125%;
    padding-left:   2.0em;
    padding-top:    0.5em;
    padding-bottom: 0.5em;
    overflow-x: auto;
}
pre.code {

    background:     #fcfcfc;
    border-top:     .5px solid #ccc;
    border-bottom:  .5px solid #ccc;
}
pre.output {
    background:     #fff;
    border:         none;

}

.function, .class {
    font-weight: 400;
}
.comment {
    color: #459;
}

/* Tables */

table {
    margin-left: auto;
    margin-right: auto;
    min-width: 33%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    border-bottom: .5px solid #999999;
}
td, th {
    border: none;
}
th {
    text-align: left;
    font-weight: 400; /* Make sure they're bold */
    border-bottom: 1px solid black;
    padding: 0 1em;
}
td {
    text-align: left;
    border: none;
    padding: 0 1em;
}
tr:nth-child(even) td {
    background: #f0f0f0;
}

/* Definition Lists*/
dt {
    font-weight: bold;
}
